<!DOCTYPE html>
{% load static %}
<br>
<!--<div class="container my-5">
  <div class="container-fluid">-->
    <div class="container-fluid text-center bg-grey" style="padding: 0;">
   <footer style="background-color: #deded5;"> 
    <div class="container p-4"> 
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #000000;">On Time </h5>
          <p>
            On Time ju ofron produktet me te mire dhe me cilesore ne treg . 
            <footer>
              <p><i class="fab fa-facebook-f"></i>On Time </p>
              <p><i class="fab fa-instagram"></i>_on_time</p>
            </footer>
            
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #000000;">Produkte </h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="#!" style="color: #000000;">Ora per femra</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #000000;">Ora per meshkuj</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #000000;">Ora per femije  </a>
            </li>
            <li>
              <a href="#!" style="color: #000000;">Bizhuteri</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-1" style="letter-spacing: 2px; color: #000000;">Orari</h5>
          <table class="table" style="color: #000000; border-color: rgb(0, 0, 0);">
            <tbody>
              <tr>
                <td>E hene-E shtune :</td>
                <td>9am - 9pm</td>
              </tr>
              <tr>
                <td>E diel :</td>
                <td>9am - 5pm</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" > httpsOnTime.com </a>
    </div>
  </footer>
  
</div>